%p#alert
%p#notice
%script{:charset => "UTF-8", :src => "https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1", :type => "text/javascript"}
:javascript
	var x = document.getElementById("notice");
	$(document).ready(function(){
		getLocation();
		watchPosition();
	});
	function watchPosition(){
		//map options
		var mapOptions = {
			credentials: "Aj7xOeHv3mwl4nqgF2ok_aFqUvIJGuYEdBcHreNG_jTbtW0aDuawEI-m8jsyrKpf",
			mapTypeId: Microsoft.Maps.MapTypeId.road,
			zoom: 10
		}
		//map initialization
		map = new Microsoft.Maps.Map(document.getElementById('mapDiv'), mapOptions);
	}
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.watchPosition(success, error, {maximumAge : 1000});
		} else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
	}
	function error(err) {
		x.innerHTML = err.toString();
	}
	function success(position) {
		x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
		var pos = new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude);
		console.log(pos);
		//infobox
		var offsetInfo = new Microsoft.Maps.Point(0, 30); 
		var infoboxOptions  = { title: "Location Information", description:   "This is your current location.", offset: offsetInfo };
		var callout = new Microsoft.Maps.Infobox(pos, infoboxOptions);
		//pushpin
		var offsetPin = new Microsoft.Maps.Point(0, 5);
		var pushpinOptions = {text : '1', visible: true, textOffset: offsetPin};
		var pushpin = new Microsoft.Maps.Pushpin(pos, pushpinOptions);
		map.setView({center:pos});
		map.entities.push(pushpin);
		map.entities.push(callout);
	}